.bg-light{

  background-color: white;
}

.bg-light-2{

  background-color: #dadcde;
}

.bg-light-primary{

  background-color: #191659;
}

.text-light-primary{

  color: #191659;
}

.react-tel-input input{

  width: 100%;
}